# Exclude directory in archive
archive/
bin/
man/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Pyre type checker
.pyre/

